<%- include("partials/header.ejs") %>
<div class="create-text">Edit your blog!</div>
<div class="form">
    <form action="/blog/<%= index %>/editor" method="POST">
        <div class="form-row">
          <input name="title" type="text" class="title-input" value="<%= post.title %>" placeholder="Title..." />
        </div>
        <div class="form-row">
          <textarea class="content-input" name="content" rows="4" placeholder="Content..."><%= post.content %></textarea>
        </div>
        <div class="form-row">
          <input type="submit" class="save" value="Save Changes" />
        </div>
      </form>
</div>
<%- include("partials/footer.ejs") %>
